<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal</title>
</head>
<body>
    <h1>Node.js Course</h1>
    <h2>Price:200</h2>
    <form action="/api/v1/payment/pay" method="post">
        <input type="submit" value="Pay with Paypal">
    </form>
    
</body>
</html>